package ${package};

#foreach($pkg in ${imports_for_req})
import ${pkg};
#end

/**
 * <p>
 * $!{class_comment} 代码工具自动生成，按需扩展
 * </p>
 *
 * @author ${sys_author}
 * @since ${date}
 */
#if(${strategy_is_lombok})
@Data
    #if(${strategy_has_super_class})
@EqualsAndHashCode(callSuper = true)
    #else
@EqualsAndHashCode(callSuper = false)
    #end
    #if(${strategy_is_lombok_chain_model})
@Accessors(chain = true)
    #end
#end
#if(${sys_is_swagger2})
@ApiModel(value = "${class_name}对象", description = "$!{class_comment}")
#end
#if(${strategy_has_super_class})
public class ${class_name} extends ${strategy_super_class_name} {
#else
public class ${class_name} #if(${strategy_is_serializable})implements Serializable#end{
#end

#if(${strategy_is_serializable})

#end
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${entity_fields})
    #if($field.supportResponse)
    #if("$!field.comment" != "")
        #if(${sys_is_swagger2})
    @ApiModelProperty(value = "${field.comment}")
        #else
        /**
         * ${field.comment}
         */
        #end
    #end
##    #if(${field.datetime})
##    @JsonFormat(locale = "zh", timezone = "GMT+8", pattern = "yyyy-MM-dd HH:mm:ss")
##    #end
    private ${field.classSimpleName} ${field.name};
    #end

#end


}