package ${package};

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import ${import_entity_class};
import ${import_vo_create};
import ${import_vo_query};
import ${import_vo_update};
import ${import_vo_response};
import ${import_vo};
import ${import_service_local};
import com.kylinhunter.plat.web.controller.CommonCurdController;

import io.swagger.annotations.Api;
import lombok.RequiredArgsConstructor;

/**
 * <p>
 * $!{class_comment}  代码工具自动生成，按需扩展
 * </p>
 *
 * @author ${sys_author}
 * @since ${date}
 */
@RestController
@RequestMapping("/api/v1/${sys_module_name}/${output.entitySnakeName}")
@Api(value = "${entity_name}相关接口")
@RequiredArgsConstructor
public class ${entity_name}Controller extends
        CommonCurdController<${service_local_class_name},${vo_create_class_name},
            ${vo_update_class_name}, ${vo_resp_class_name}, ${vo_class_name}, ${vo_query_class_name},${entity_name}> {

}