package ${sys_packageName};

#foreach($pkg in ${sys_importPackages})
import ${pkg};
#end

/**
 * <p>
 * $!{sys_comment} 代码工具自动生成，按需扩展
 * </p>
 *
 * @author ${sys_author}
 * @since ${sys_date}
 */
#if(${sys_isLombok})
@Data
    #if(${sys_haveSuperClass})
@EqualsAndHashCode(callSuper = true)
    #else
@EqualsAndHashCode(callSuper = false)
    #end
    #if(${sys_isLombokChainModel})
@Accessors(chain = true)
    #end
#end
#if(${sys_swagger2})
@ApiModel(value = "${sys_className}对象", description = "$!{sys_comment}")
#end
#if(${sys_haveSuperClass})
public class ${sys_className} extends ${sys_superClassName} {
#else
public class ${sys_className} #if(${sys_serializable})implements Serializable#end{
#end

#if(${sys_serializable})
    private static final long serialVersionUID = 1L;
#end



}