package ${sys_packageName};

import ${sys_entity_class};
import ${pgk_vo_create}.${sys_entityName}ReqCreate;
import ${pgk_vo_query}.${sys_entityName}ReqQuery;
import ${pgk_vo_update}.${sys_entityName}ReqUpdate;
import ${pgk_vo_response}.${sys_entityName}Resp;
import com.kylinhunter.plat.api.service.local.CommonService;

/**
 * <p>
 * $!{sys_comment} 代码工具自动生成，按需扩展
 * </p>
 *
 * @author ${sys_author}
 * @since ${sys_date}
 */
public interface ${sys_className} extends CommonService<${sys_entityName},
        ${sys_entityName}ReqCreate, ${sys_entityName}ReqUpdate,
        ${sys_entityName}Resp, ${sys_entityName}ReqQuery>  {

}
