package ${package};

import ${import_entity_class};
import ${import_vo_create};
import ${import_vo_query};
import ${import_vo_update};
import ${import_vo_response};
import ${import_vo};
import com.kylinhunter.plat.api.service.local.CommonService;

/**
 * <p>
 * $!{class_comment} 代码工具自动生成，按需扩展
 * </p>
 *
 * @author ${sys_author}
 * @since ${date}
 */
public interface ${class_name} extends CommonService<${entity_name},
    ${vo_create_class_name}, ${vo_update_class_name},
    ${vo_resp_class_name}, ${vo_class_name}, ${vo_query_class_name}>  {

}
