package ${package};

import ${import_entity_class};
import ${import_vo_create};
import ${import_vo_query};
import ${import_vo_update};
import ${import_vo_response};
import ${import_vo};
import ${import_service_local};
import ${import_mapper_class};
import com.kylinhunter.plat.dao.service.local.CommonServiceImpl;

import org.springframework.stereotype.Service;

/**
 * <p>
 * $!{class_comment} 代码工具自动生成，按需扩展
 * </p>
 *
 * @author ${sys_author}
 * @since ${date}
 */
@Service
public class ${class_name}
        extends CommonServiceImpl<${entity_name}Mapper, ${entity_name},
        ${vo_create_class_name}, ${vo_update_class_name},
        ${vo_resp_class_name}, ${vo_class_name}, ${vo_query_class_name}> implements ${service_local_class_name} {

}