<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <include resource="io/github/kylinhunter/commons/spring/kylinhunter-spring-default.xml"/>
    <property name="app.name" value="plat-server-core"/>
    <property name="app.logging.log_level" value="INFO"/>
    <include resource="io/github/kylinhunter/commons/spring/kylinhunter-spring.xml"/>
    <logger name="io.github.kylinhunter" level="INFO"/>
</configuration>